<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=ky1-vrt-msqld1.ky.cafepress.com;Initial Catalog=transit;User ID=cpdba;Password=ithinkgreen;" />
    <add key="dbObjectName" value="GET_SHIPMENT_BY_ORDER_NO" />
  </appSettings>
</configuration>